# Default
*                             @jhendrixMSFT @RickWinter @xirzec @ArcturusZhang @lirenhe @tadelesh

# codegen (autorest and typespec)
/packages/autorest.go         @jhendrixMSFT @RickWinter @xirzec @lirenhe
/packages/codegen.go          @jhendrixMSFT @RickWinter @xirzec @lirenhe
/packages/codemodel.go        @jhendrixMSFT @RickWinter @xirzec @lirenhe
/packages/typespec-go         @jhendrixMSFT @RickWinter @xirzec @lirenhe

# autorest.gotest
/packages/autorest.gotest     @ArcturusZhang @lirenhe @tadelesh
/swagger                      @ArcturusZhang @lirenhe @tadelesh

###########
# Eng Sys
###########
/eng/                         @benbp @weshaggard
/eng/common/                  @Azure/azure-sdk-eng
/eng/config.json              @jhendrixMSFT @RickWinter @xirzec
/.config/1espt/               @benbp @weshaggard
/.github/workflows/           @Azure/azure-sdk-eng
/.github/CODEOWNERS           @RickWinter @xirzec @sandeep-sen @Azure/azure-sdk-eng
