# Default
*                             @chlowell @jhendrixMSFT @RickWinter @ArcturusZhang @lirenhe @tadelesh

# codegen (autorest and typespec)
/packages/autorest.go         @chlowell @jhendrixMSFT @RickWinter @lirenhe
/packages/codegen.go          @chlowell @jhendrixMSFT @RickWinter @lirenhe
/packages/codemodel.go        @chlowell @jhendrixMSFT @RickWinter @lirenhe
/packages/typespec-go         @chlowell @jhendrixMSFT @RickWinter @lirenhe

# autorest.gotest
/packages/autorest.gotest     @ArcturusZhang @lirenhe @tadelesh
/swagger                      @ArcturusZhang @lirenhe @tadelesh

###########
# Eng Sys
###########
/eng/                         @benbp @weshaggard
/eng/common/                  @Azure/azure-sdk-eng
/eng/config.json              @chlowell @jhendrixMSFT @RickWinter
/.config/1espt/               @benbp @weshaggard
/.github/workflows/           @Azure/azure-sdk-eng
/.github/CODEOWNERS           @rickwinter @sandeep-sen @Azure/azure-sdk-eng
